<div class="content">
    <ng-container *ngIf="loginWithFocus; else elseTemplate">
        <label class="title mt-40">Olá amigo!</label>

        <label class="subtitle mt-10">Por favor, insira seu dados pessoais</label>
    </ng-container>
    <ng-template #elseTemplate>
        <label id="title"> Criar Login</label>
        <label class="subtitle mt-10"> Use seu Email para Registro</label>

        <input type="text" name="inpNome" id="" placeholder="Nome">
        <input type="email" name="inpEmail" id="" placeholder="Email">
        <input type="password" name="inpPass" id="" placeholder="Senha">
    </ng-template>
    <button type="submit" (click)="activated()">Registrar</button>
</div>