.contentns {
    display: inline-flex;
    overflow: hidden;
    width: 768px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2),
                0 10px 10px rgba(0, 0, 0, .2);
    margin: 200px 150px 250px 500px;
    font-size: 150%;
    font-family: 'Roboto Condensed', sans-serif;
}
html, body {
    background-color: linear-gradient(to bottom, #efefef, #ccc);
}
.left{
    width: 50%;
    align-self: left;
    align-items: center;
}
.right {
    width: 50%;
    align-self: right;
    align-items: center;
    background: linear-gradient(to bottom right, #8f25d6, #620c94);
}

/* CHILDRENS*/

.content {
    display: inline-grid;
    height: 50%;
    width: 100%;
    margin: 70px 8px 30px 60px;
    border-radius: 5px;
}
#title {
    font-weight: bold;
    font-size: 50px;
}
input {
    margin-top: 30px;
    border-radius: 18px;
    height: 60%;
    width: 70%;
    margin-right: 20%;
    border: aliceblue;
}
button {
    border-radius: 35px;
    height: 50%;
    width: 30%;
    margin: 30px 10px 20px 70px;
    background-color: #620c94;
    border: none;
}
.subtitle {
    font-size: 20px;
}
button:active {
    background-color: #fff;
}

.mt-30 {
    margin-top: 50px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-70 {
    margin-left: 70px;
}